npm i @heroicons/react
npm i @tailwindcss/forms
npm i @types/node
npm i @vercel/postgres
npm i autoprefixer
npm i bcrypt
npm i --save-dev @types/bcrypt
npm i clsx
npm i dotenv
npm i next-auth
npm i postcss
npm i tailwindcss
npm i typescript
npm i use-debounce
npm i zod